{% extends 'index.html'%}
{%block login%}  
<div class="reg">
    <div class="screen__content">
<form class="login" id="fr"  action="" method="post">
    {%csrf_token%}

    <h3>Customer-SignUp</h3>
        {{form.as_div}}
        <button class="button login__submit">SignUp
            <!-- <span class="button__text">SignUp</span> -->
            <!-- <i class="button__icon fas fa-chevron-right"></i> -->
          </button>
          <br>
        <div class="social">
            Already a User?. <a href="{%url 'h'%}" >SignIn</a>
        </div>
</form>
<div class="social-login">
    <h3>log in via</h3>
    <div class="social-icons">
        <a href="#" class="social-login__icon fab fa-instagram"></a>
        <a href="#" class="social-login__icon fab fa-facebook"></a>
        <a href="#" class="social-login__icon fab fa-twitter"></a>
    </div>
</div>
</div>
<div class="screen__background">
    <span class="screen__background__shape screen__background__shape4"></span>
    <span class="screen__background__shape screen__background__shape3"></span>		
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
</div>		
</div>
{%endblock login%}  
