{% extends 'navbar.html' %}
{% block content %}

  <!-- <h1>Customer</h1>
  {% for i in products %}
    <p>{{i.name}}</p>
  {% endfor %} -->

  <h1 class="bg-secondary text-light text-center p-2">
      E-Gadgets
      <span class="material-symbols-outlined">gamepad</span>
  </h1>
  {% if messages%}
    {% for i in messages %}
      {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="'alert alert-success">
          {{i}}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if messages%}
    {% for i in messages %}
      {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="'alert alert-danger">
          {{i}}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  
  <p style="position: absolute; left: 90%;" class="text-center">Welcome {{request.user.first_name}}</p>
<br>
  <div class="row justify-content-center">
    {% for i in products %}
    <div class="card justify-content-center" style="width: 18rem;">
      <img class="card-img-top" height="300px" src="{{i.image.url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text">{{i.category}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item">Cras justo odio</li> -->
        <!-- <li class="list-group-item">{{i.description}}</li> -->
        <!-- <li class="list-group-item">Rs {{i.price}}</li> -->
      </ul>
      <div class="card-body">
        <a href="{% url 'pdet' i.id %}" class="card-link btn btn-warning">View More</a>
        <!-- <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
    {%endfor%}


  </div>



{% endblock content %}